@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
  color: lightslategray;
}